<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.scanner.app.ScannerApp"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.scanner.activity.ScannerActivity"
            android:exported="false" />
    </application>

</manifest>